/* @import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&family=Roboto:wght@400;500;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", system-ui;

  --project_purple: rgb(100 21 255);
  --project_white: rgb(247 250 252);
  --project_text: rgb(124 139 161);
  --project_blue: rgb(30, 0, 170);
}

html {
  scroll-behavior: smooth;
  text-size-adjust: 100%;
  tab-size: 4;
}

body {
  min-height: 100vh;
  /* overflow: hidden; */
  padding: 2rem;
  font-family: Inter, system-ui;
}

p {
  font-size: 18px;
  padding-top: 16px;
  color: var(--project_text);
  letter-spacing: 0px;
  font-weight: 500;
  line-height: 1.625;
}

a {
  text-decoration: none;
  color: #243e63;
}

a:hover {
  color: var(--project_purple);
}

h1 {
  font-size: 48px;
  padding-top: 27px; /*Adjust to looks like the model project */
  line-height: 1.25;
}

h5 {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: var(--project_purple);
}

h2 {
  /* display: flex; */
  font-size: 48px;
  font-weight: 900;
  letter-spacing: 0.025em;
  color: #243e63;
  width: 100%;
  text-align: center;
  margin: 0px;
  min-height: 72px;
}

ul {
  display: flex;
}

li {
  list-style-type: none;
}

.purple {
  color: var(--project_purple);
}

.blue {
  color: var(--project_blue);
}

.gray {
  color: var(--project_text);
}

.white {
  color: var(--project_white);
}

.nav__container {
  width: 100%;
  height: 44px;
  /* max-width: 1200px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  flex: 1 1 0%;
}

.nav__links {
  align-items: center;
}

.nav__link {
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  margin: 0 25px; /*Adjust to looks like the model project (24px) */
  letter-spacing: 0.05px; /*Adjust to looks like the model project */
  align-items: center;
}

.nav__link--login {
  margin-left: 48px;
}

.nav__logo {
  display: flex;
  align-items: center;
  font-weight: 900;
  font-size: 24px;
  letter-spacing: 0.5px; /*Adjust to looks like the model project */
  padding: 0 0 4px;
  margin-right: 24px;
}

.two__columns {
  display: flex;
  flex-direction: row;
  padding: 96px 0;
  max-width: 1280px;
  margin: 0 auto;
  justify-content: space-between;
}

.three__columns {
  display: flex;
  max-width: 1024px;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 96px 0px;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: 100px;
}

.left {
  text-align: left;
  margin-bottom: 0px;
}

.three__columns p {
  max-width: 36rem;
  text-align: center;
}

.three__columns h5 {
  margin-bottom: 16px;
}

.empty {
  margin-top: 2.5rem;
  width: 100%;
}

.services {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.service {
  height: 210px; /* height: 100%; */
  width: calc(100% / 3 - 32px);
  margin: 0 16px;
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  padding: 32px 8px;
  text-align: left;
}

.service__icon {
  flex-shrink: 0;
  border-style: solid;
  border-color: rgb(226, 232, 240);
  border-radius: 999px;
  border-width: 1px;
  padding: 20px 20px;
  /* text-align: center; */
  width: 66px;
  height: 66px;
}

.service__description {
  margin: 8px 0 0 16px;
}

.service__title {
  margin-top: 16px;
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.025em;
}

.service__description p {
  font-size: 16px;
  text-align: left;
  font-weight: 500;
  line-height: 2;
}

.column__right {
  display: flex;
  justify-content: center;
  align-self: center;
}

.column__right img {
  width: 100%;
  max-width: 745px;
}

.row {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.img__logo {
  width: 40px;
  margin-right: 12px;
}

.logo {
  display: flex;
  align-items: center;
  font-weight: 900;
  font-size: 24px;
}

.btn {
  background-color: var(--project_purple);
  color: var(--project_white);
  font-size: 14px;
  font-weight: 600;
  padding: 12px 32px;
  border: none;
  border-radius: 48px;
}

.column__left {
  width: 50%;
  height: 100%;
  display: flex;
  margin: 0 auto;
  margin-bottom: 48px;
  flex-direction: column;
  justify-content: space-between;
}

.quality__work--wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 96px 0;
  max-width: 1280px;
  margin: 0 auto;
  justify-content: space-between;
}

.quality__work--column--left {
  width: 50%;
  padding: 32px 64px 32px 0;
}

.quality__work--column--left p {
  font-size: 18px;
  padding-top: 16px;
  color: var(--project_text);
  letter-spacing: 0px;
  font-weight: 500;
  line-height: 1.625;
}

.quality__work--column--left h5 {
  margin-bottom: 16px;
}

.half {
  width: 50%;
}

.quality__work--wrap img {
  border-radius: 0.25rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  height: auto;
  width: 100%;
  max-width: 745px;
}

.quality__work--wrap--button {
  margin-top: 32px;
  padding: 14px 32px;
}

.left40 {
  width: 41.5%;
}

.column__left--p {
  font-size: 18px;
  letter-spacing: 0.05px; /*Adjust to looks like the model project */
  padding: 32px 0;
}

.column__left--input--wrapper {
  width: 89%;
  max-width: 448px;
  position: relative;
}

.column__left--input--wrapper input {
  width: 100%;
  border-radius: 9999px;
  padding: 20px 192px 20px 32px;
  font-weight: 500;
  height: 68px;
  font-size: 16px;
  border: 2px solid rgba(0, 0, 0, 0.1);
}

.column__left--input--wrapper input::placeholder {
  opacity: 0.4;
}

.column__left--input--wrapper button {
  background-color: var(--project_purple);
  color: var(--project_white);
  font-size: 16px;
  font-weight: 550;
  width: 160px;
  padding: 16px 32px;
  border: none;
  border-radius: 48px;
  position: absolute;
  right: 7px;
  top: 8px;
}

.column__left--customers {
  margin-top: 80px;
}

.column__left--customers p {
  padding-top: 0px;
}

.column__left--customers img {
  max-width: 405px;
  opacity: 0.5;
  margin: 16px 0 0;
}

.column__left--customers p {
  font-size: 12px;
  font-weight: 750;
  opacity: 0.32;
}

.steps--wrap {
  display: flex;
  flex-direction: row;
  padding: 96px 0;
  max-width: 1280px;
  margin: 0 auto;
}

.steps--column--left {
  width: 50%;
  display: flex;
  align-self: center;
}

.steps--column--left img {
  width: 100%;
  max-width: 640px;
}

.steps--column--right {
  padding: 32px 0px 32px 64px;
}

.steps--column--right ul {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
}

.steps--column--right li {
  display: flex;
  flex-direction: row;
  margin-top: 32px;
}

.steps--column--right h6 {
  font-size: 20px;
  font-weight: 600;
}

.steps--column--right h5 {
  margin-bottom: 0px;
  height: 24px;
}

.steps--column--right h2 {
  margin-top: 16px;
  min-height: 60px;
}

.steps--description {
  margin-left: 24px;
}

.steps--column--right p {
  max-width: 320px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.8;
  color: var(--project_text);
}

.steps--numbers {
  font-size: 36px;
  color: var(--project_text);
  opacity: 40%;
  font-weight: 600;
  line-height: 1;
}

/* VALUES */

.values--wrap {
  display: flex;
  flex-direction: row;
  padding: 96px 0;
  max-width: 1280px;
  margin: 0 auto;
  /* justify-content: space-between; */
}

.values--wrap h2 {
  margin-top: 16px;
}

.values--wrap p {
  margin-top: 32px;
  padding-top: 0px;
}

.values--column--left {
  width: 50%;
  padding: 32px 64px 32px 0;
  /* height: 628px; retirar */
}

.values--column--left h5 {
  margin-bottom: 0px;
}

.values {
  display: flex;
  flex-direction: row;
  /* align-items: flex-start; */
  margin-top: 32px;
}

.value__title {
  margin-left: 0.75rem;
  font-size: 1.25rem;
  font-weight: 700;
}

.value__header {
  display: flex;
  align-items: center;
}

.value {
  text-align: left;
}

.value__description {
  font-size: 16px;
  text-align: left;
  color: var(--project_text);
  line-height: 1.625;
  margin: 16px 32px 0 0;
}

.values__button {
  margin-top: 48px;
}

/* PRICES  */

.prices {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
}

.price {
  width: calc(100% / 3 - 32px);
  margin: 64px 32px 0px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 8px;
  text-align: left;
  max-width: 384px;
  border-radius: 0.5rem;
  border: rgba(26, 32, 44, 0.05) solid 2px;
  position: relative;
}

.price:last-child {
  margin-right: 0px;
}

.price__header {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  height: 0.5rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  background-color: var(--project_purple);
}

.background__01 {
  background: linear-gradient(
    115deg,
    rgb(56, 178, 172) 0%,
    rgb(129, 230, 217) 100%
  );
  /* color: var(--project_text); */
}

.background__02 {
  color: white;
  background-image: linear-gradient(
    135deg,
    rgb(76, 81, 191) 0%,
    rgb(102, 126, 234) 100%
  );
}

.background__03 {
  background: linear-gradient(
    115deg,
    rgb(245, 101, 101) 0%,
    rgb(254, 178, 178) 100%
  );
  /* color: var(--project_text); */
}

.prices__wrap {
  display: flex;
  max-width: 1280px;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 96px 0px;
}

.prices__wrap p {
  max-width: 576px;
  text-align: center;
}

.prices__wrap h5 {
  margin-bottom: 16px;
}

.price__tag {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 32px;
  border-top: rgba(26, 32, 44, 0.05) solid 2px;
}

.price__name {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.625;
}

.price__value {
  display: flex;
  font-size: 48px;
  font-weight: 700;
  margin-top: 4px;
  margin-bottom: 4px;
  min-height: 78px;
  align-items: center;
}

.price__duration {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.625;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  line-height: 1.625;
  opacity: 70%;
}

.price__condition {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.4px;
}

.price__feature {
  font-size: 16px;
  margin-top: 20px;
  font-weight: 500;
  min-height: 24px;
  opacity: 70%;
}

.prices__button {
  width: 100%;
  padding: 0px 32px;
}

.btn__prices {
  width: 100%;
  font-size: 14px;
  font-weight: 600;
  padding: 16px 32px;
  border: none;
  border-radius: 48px;
  text-transform: uppercase;
  letter-spacing: 0.08px;
  cursor: pointer;
  transition: all 200ms ease;
}

.btn__prices:hover {
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
  transform: translate(1px, -1px);
}

/* BANNER */

.banner__wrap {
  display: flex;
  flex-direction: row;
  padding: 96px 0;
  max-width: 1280px;
  margin: 0 auto;
  margin-top: 96px;
  background-color: var(--project_purple);
  border-radius: 8px;
}

.banner {
  display: flex;
  flex-direction: row;
  text-align: left;
  padding: 0 32px;
  margin: 0 auto;
  max-width: 1024px;
  width: 100%;
}

.banner span {
  color: var(--project_white);
  font-size: 30px;
  font-weight: 700;
  width: 50%;
  line-height: 1.5;
}

.banner__button--wrap {
  display: flex;
  justify-content: flex-end;
  width: 50%;
  max-width: 512px;
}

.banner__button {
  color: var(--project_white);
  font-size: 16px;
  font-weight: 600;
  padding: 8px 40px;
  margin: 12px 0;
  border: none;
  border-radius: 48px;
  letter-spacing: 0.5px;
  transition: all 200ms ease;
  cursor: pointer;
}

.banner_btn01 {
  margin-right: 32px;
  background-color: #f56565;
}

.banner_btn02 {
  background-color: var(--project_purple);
  border: solid 1px #ffffff60;
}

.banner_btn01:hover {
  background-color: #e53e3e;
}

.banner_btn02:hover {
  color: var(--project_purple);
  background-color: var(--project_white);
}

.footer__wrap {
  position: relative;
  margin: 160px -32px -32px -32px;
  background-color: var(--project_purple);
  padding: 40px 32px 96px 32px;
}

.footer {
  margin-left: auto;
  margin-right: auto;
  max-width: 1280px;
}

.footer__links--wrap {
  display: flex;
  justify-content: space-between;
}

.footer__links {
  margin-top: 48px;
  color: var(--project_white);
}

.footer__ul {
  margin-top: 12px;
  display: flex;
  flex-direction: column;
}

.footer__li {
  margin-top: 14px;
}

.footer__links a {
  font-size: 14px;
  color: var(--project_white);
  padding-bottom: 4px;
  /* transition: all 300ms ease; */
  transition-duration: 300ms;
}

.footer__links a:hover {
  border-style: solid;
  border-color: var(--project_white);
  box-sizing: border-box;
  border-width: 0px;
  border-bottom-width: 1px;
}

.footer__line {
  margin-top: 64px;
  margin-bottom: 64px;
  width: 100%;
  border-style: solid;
  border-width: 0px;
  border-bottom-width: 1px;
  border-color: #ffffff20;
}

.footer__icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: var(--project_white);
}

.footer__icons--left {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer__icons--right {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
}

.footer__logo {
  width: 32px;
  vertical-align: middle;
}

.footer__logo--text {
  margin-left: 8px;
  font-size: 20px;
  font-weight: 900;
  letter-spacing: 0.05em;
}

.footer__ico {
  display: flex;
  align-items: center;
  height: 32px;
  width: 32px;
  justify-content: center;
  cursor: pointer;
  border-radius: 9999px;
  background-color: var(--project_white);
  padding: 8px;
  color: rgb(26 32 44);
  transition-duration: 300ms;
}

.footer__ico:last-child {
  margin-right: 0px;
}

.footer__ico:hover {
  background-color: #dddddd;
}

/* MENU */

.btn__menu {
  background-color: transparent;
  font-size: 24px;
  font-weight: 100;
  color: var(--project_purple);
  border: none;
  display: none;
}

.menu__backdrop {
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  z-index: 10;
  margin: 32px 16px;
  border-radius: 8px;
  border-width: 1px;
  border-style: solid;
  border-color: #c0c0c050;
  padding: 32px;
  text-align: center;
  color: rgb(26 32 44);
  background-color: white;
  /* transition: all 300ms ease; */
  opacity: 0;
  visibility: hidden;
}

.menu--open .menu__backdrop {
  visibility: visible;
  opacity: 1;
}

.menu--open {
  max-height: 100vh;
  overflow-y: hidden;
}

.btn__menu--close {
  position: absolute;
  right: 20px;
  top: 10px;
  padding: 8px;
  color: var(--project_purple);
}

.btn__drop {
  padding: 12px 32px;
  margin: 8px 0px;
  font-size: 18px;
  transition: all 300ms ease;
}

.btn__drop:hover {
  background-color: rgb(80 17 204);
}

.menu__links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu__link {
  margin-top: 8px;
  margin-bottom: 8px;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-color: transparent;
  padding-bottom: 4px;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.025em;
  transition-duration: 300ms;
  min-height: 33px;
}

.menu__link:hover {
  border-color: var(--project_purple);
  border-bottom-style: solid;
}
.menu__list {
  padding: 32px 0;
}

/* SMALL PHONES, TABLETS, LARGE SMARTPHONES */

@media (max-width: 1024px) {
  .nav__links {
    display: none;
  }

  .btn__menu {
    display: block;
  }

  .two__columns {
    flex-direction: column;
  }

  .left40 {
    width: 100%;
    max-width: 512px;
  }

  h1 {
    font-size: 30px;
    padding-top: 0px;
  }

  .nav__container {
    margin: 8px 0px;
  }

  .column__left--p {
    font-size: 16px;
    text-align: center;
    padding: 0px;
    margin: 20px 0px;
  }

  .column__left--input--wrapper {
    align-self: center;
  }

  .column__left--customers {
    margin-top: 48px;
  }

  .column__left--customers p {
    font-size: 14px;
    text-align: center;
  }
  .column__left--customers img {
    width: 100%;
    max-width: 512px;
  }

  .column__right img {
    width: 100%;
    min-width: 0px;
    max-width: 512px;
  }

  /* FEATURES */

  .three__columns {
    padding: 80px 0px;
  }

  .service {
    width: 37%;
  }
  .services {
    justify-content: center;
  }

  h2 {
    font-size: 36px;
    min-height: 0px;
  }

  p {
    font-size: 16px;
  }

  .quality__work--wrap {
    padding: 80px 0px;
  }

  .quality__work--column--left {
    padding: 0px 48px 0px 0px;
  }

  .steps--column--right {
    padding: 0px 0px 0px 64px;
  }

  .values {
    max-width: 320px;
    flex-direction: column;
    margin-top: 0px;
  }

  .value {
    margin-top: 40px;
  }

  .values--column--left {
    padding: 0px 48px 0px 0px;
  }

  .prices {
    flex-direction: column;
  }

  .price {
    margin: 64px 0 0 0;
    width: 100%;
  }

  .price__tag {
    padding: 32px 32px;
  }

  .prices__wrap {
    padding: 80px 0px;
  }

  .prices__wrap h2 {
    font-size: 48px;
  }

  .banner {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .banner span {
    width: 60%;
  }

  .banner__wrap {
    padding: 80px 0;
  }

  .banner__button--wrap {
    justify-content: center;
  }

  .banner__button {
    margin: 24px 0px 0px;
    padding: 16px 32px;
  }

  .banner__button:first-child {
    margin-right: 32px;
  }
}

@media (max-width: 768px) {
  .service {
    width: 51%;
  }

  h2 {
    font-size: 36px;
  }

  .prices__wrap h2 {
    font-size: 36px;
  }

  .quality__work--wrap {
    flex-direction: column;
  }

  .half {
    max-width: 448px;
    width: 100%;
  }

  .quality__work--column--left {
    max-width: 448px;
    width: 100%;
    padding: 0;
    text-align: center;
  }

  .quality__work--column--left p {
    font-size: 14px;
  }

  .left {
    text-align: center;
    margin-bottom: 0px;
  }

  .quality__work--wrap {
    flex-direction: column-reverse;
  }

  .column__right {
    margin-bottom: 64px;
  }

  .steps--wrap {
    flex-direction: column;
    padding: 80px 0;
  }

  .steps--column--left {
    max-width: 448px;
    width: 100%;
    margin-bottom: 64px;
  }

  .steps--column--right {
    text-align: center;
    padding: 0;
  }

  .steps--column--right ul {
    margin-top: 0;
  }

  .steps--column--right li {
    flex-direction: column;
    align-items: center;
  }

  .steps--description {
    margin: 12px 0;
  }

  .values--wrap {
    flex-direction: column-reverse;
    padding: 80px 0;
    align-items: center;
  }

  .values--column--left {
    max-width: 448px;
    width: 100%;
    text-align: center;
    padding: 0;
  }

  .values {
    margin: 0 auto;
    max-width: 320px;
  }

  .value {
    align-self: center;
  }

  p {
    font-size: 14px;
  }

  .values--wrap p {
    font-size: 14px;
  }

  .value__header {
    justify-content: center;
  }

  .value__description {
    margin: 16px 0 0;
    text-align: center;
  }

  .footer__links--wrap {
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .footer__links {
    min-width: 115px;
  }

  .footer__links--wrap {
    justify-content: center;
  }

  .footer__icons {
    flex-direction: column;
    min-height: 150px;
    justify-content: space-between;
  }
}

@media (max-width: 640px) {
  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 30px;
  }

  .prices__wrap h2 {
    font-size: 30px;
  }

  button {
    font-size: 18px;
  }

  .two__columns {
    padding: 80px 0px;
  }

  .column__left--input--wrapper button {
    position: relative;
    width: 100%;
    margin: 8px 0px;
  }

  .column__left--input--wrapper input {
    height: 60px;
    padding: 16px 0px 16px 32px;
  }

  .banner__button--wrap {
    max-width: 132px;
    flex-direction: column;
  }

  .banner span {
    font-size: 24px;
    width: 100%;
  }

  .banner_btn01 {
    font-size: 14px;
    padding: 12px 24px;
  }

  .banner_btn02 {
    font-size: 14px;
    padding: 12px 24px;
  }

  .banner__button:first-child {
    margin-right: 0px;
  }

  .price__value {
    font-size: 36px;
    min-height: 58px;
  }
}
